/* Reszponzív */

*{box-sizing: border-box;}
 
[class*="col-"] { 
    float: left; 
    padding: 15px; 
    width: 100%; 
}
 
.row::after { 
    content: ""; 
    clear: both; 
    display: table; 
}

@media only screen and (min-width: 600px) {
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}}
    
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}}



body{
    font-family: 'shadows';
    background-color: lemonchiffon;}

footer{
    opacity: 0.9;
    text-align: center;
    background-color: grey;
    padding-top: 3px;
    padding-bottom: 3px;}

section{
    color: white;
    font-size: 20px;
    color: black;
}

h1{
    text-decoration: underline;
}



.navigation{text-align: center;}

nav ul{text-decoration: none;
        list-style-type: none;}

nav li a{
        margin: auto;
        text-decoration: none;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 32px;
        border: 8px solid grey;
        border-style: groove;
        color: black; 
        background-color: grey;
        opacity: 0.8;
        font-family: 'marker';}

.active{color: white;}



.fejlec{
    text-align: center;
    width: 90%;
	
    margin: 5%;}

    header p img{
        border-radius: 8px;
    }






